* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    padding: 60px 20px;
    text-align: center;
    background-image: url('./img/dragon.jfif');
    background-size: cover;
}

nav {
    background-color: #ddd;
}

li a {
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: bisque;
}

.main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

section {
    background-color: #f5f5f5;
    padding: 20px;
}

aside {
    background-color: #e0e0e0;
}

footer {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}